:root {
    --color-bg1: #C277E9;
    --color-bg2: #AD49E1;
    --color-text: #fff;
    --color-purple-a: #AD49E1;
    --color-purple-budeg: #9747FF;
    --color-purple-budegees-tod: #6F00FF;
    --color-purple-todoos-budeg: #7A1CAC;
    --color-purple-tod: #3B0F80;

    --font-family: "Bahnschrift", sans-serif;
    --border-radius: 0.5rem;
    --border-radius2: 1rem;
    --padding: 1rem;
    --font-size-large: 1.5rem;
    --font-size-medium: 1rem;
    --font-size-small: 0.875rem;
}

