@import url(../global.css);
 
/*Гарах button */

.dropdown {
  position: relative;
  display: inline-block;
  padding: 10px;
  border-radius: 22px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.dropdown img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px var(--box-shadow);
  border-radius: 8px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.user-info {
  display: flex;
  align-items: center;
}

.username {
  margin: 0 10px;
  font-weight: bold;
  color: #ffffff;
}

.dropdown-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-toggle svg {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}